h2 {
  background-color: #fbca2c;
}
h5 {
  color: #212529;
}

.contact-info {
  text-align: center;
}

.service-list { 
  text-align: center;
}
li {
  list-style-type: none;
  font-size: x-large;
}
li :hover {
text-decoration: underline;
}
.btn { 
justify-content: center;
}